.daily-false{
    background-color: lightcoral;
    margin: 1%;
    font-weight: bold;
}

.daily-true{
    background-color: lightgreen;
    margin: 1%;
    font-weight: bold;

}

.daily-true:hover{
    .skull{
        background-color: red;
        border-radius: 60%;
    }
}

.daily-false:hover{
    .skull{
        background-color: green;
        border-radius: 60%;
    }
    
}

.skull{
    max-width: 50px;
    max-height: 50px;
    
  }
