.daily-false{
    background-color: lightcoral;
    margin: 1%;
    font-weight: bold;
    border-radius: 5%;
}

.daily-true{
    background-color: lightgreen;
    margin: 1%;
    font-weight: bold;
    border-radius: 5%;

}

.daily-true:hover{
    .skull{
        transition:all 0.3s ease-in-out;
        filter:grayscale();
    }
}

.daily-false:hover{
    .skull{
        transition:all 0.3s ease-in-out;
        background-color: green;
        border-radius: 60%;
    }
    
}

.skull{
    max-width: 50px;
    max-height: 50px;
    margin-left: 30%;
    
  }
